@page
@model StoreProject.Pages.CartModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>

    <h3>Cart</h3>
    <form method="post" asp-page="cart" asp-page-handler="Update">
        <table border="1">
            <tr>
                
                <th>Id</th>
                <th>Name</th>
              
                <th>Price</th>
                <th>Quantity <input type="submit" value="Update" /></th>
                <th>Sub Total</th>
                <th>Delete</th>
            </tr>
            @foreach (var item in Model.cart)
            {
                <tr align="center">
                    
                    <td>@item.Item.Id</td>
                    <td>@item.Item.Name</td>
                    
                    <td>$@item.Item.Price</td>
                    <td><input type="number" name="quantities" value="@item.Quantity" min="1" style="width: 50px;" /></td>
                    <td>
                        $@(item.Item.Price * item.Quantity)
                    </td>

                    <td align="center">
                        <a asp-page="cart" asp-page-handler="delete" asp-route-id="@item.Item.Id">X</a>
                     </td>
                </tr>
            }

           @* <tr>
                <td colspan="6" align="right">Total</td>
                <td align="center">$@Model.Total</td>
            </tr>*@
        </table>
    </form>
    <a asp-page="index">Continue Shopping</a>

</body>
</html>