@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<p>
    <strong>The Cart can not be empty if you want to checkout. You need to have at least one item added to the cart!!!</strong>
</p>

<button class="btn btn-outline-primary bg-success"><a asp-page="./DisplayItems"> Go Back to the Store</a></button>