@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



@if (Request.Cookies["UserName"] == null)
{
   <h1>Welcome</h1>
   <h3>Please enter User Name</h3>
<form asp-page-handler="SaveUserName" method="post">
    <input name="username" placeholder="User Name"/>
    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>
}
else
{
<h1>Welcome @Request.Cookies["UserName"]</h1>
<div>
    <a asp-page="./DisplayItems">Items</a>
</div>
}



