@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>

<body class="p-3 mb-2 bg-white text-black-50">


    @if (Request.Cookies["UserName"] == null)
    {
        <h1 class="h3 mb-3 font-weight-normal"> Welcome! Please sign in: </h1>

        <form class="form-signin" asp-page-handler="SaveUserName" method="post">
            <input name="username" placeholder="User Name" />
            <button type="submit" class="btn btn-outline-primary bg-dark">Save</button>
        </form>
    }
    else
    {
        <h1>Welcome @Request.Cookies["UserName"]</h1>
        <br />

        <h2> Please feel free to navigate through our webpage and buy what you want.</h2>
       
    }

</body>
</html>